<!DOCTYPE html>
<html lang="en" 
    xmlns:th="http://www.thymeleaf.org">    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="drivers_list.css">
    <script src="drivers_list.js" defer></script>
    <title>Fuel Cards</title>
</head>
<body>

    <div class="container">
        <div class="box-1">
            <div class="menu-1"><a href="index.html">Home</a></div>
            <div class="menu-2"><a href="fuel_cards.html">Cards</a></div>
            <div class="menu-3"><a href="drivers_list.html">Drivers</a></div>
            <div class="menu-4"><a href="log_book.html">Log Book</a></div>
        </div>  

        <div class="box-2 " style="font-family: sans-serif; font-size: 15px">
            <div style="margin-bottom: 20px; padding: 10px;">
                <ul>
                    <li><a href="#" id="openForm">Add Driver</a></li>
                    <li>Edit Driver</li>
                    <li>Delete Driver</li>
                    <li>Power of attorney</li>
                    <li>Assign driver to the truck</li> 
                </ul>   
            </div>

            
            <h2>Drivers List</h2><br>
            <p th:each="element : ${drivers}">
                <span th:text="${element.firstName}">Гассан ибн Хоттаб</span>
                <span th:text="${element.lastName}">Абдурахман</span>
            </p>            
        </div>

        <div class="box-3">

            <form id="formBlock" class="form-hidden" action="add_driver" method="post" style="font-family: sans-serif; font-size: 15px;">
                <label for="firstName">First Name:</label>
                <input type="text" id="firstName" name="firstName"><br><br>
                <label for="lastName">Last Name:</label>
                <input type="text" id="lastName" name="lastName"><br><br>
                <label for="passport">Passport Nr:</label>
                <input type="text" id="passport" name="passport"><br><br>

                <input type="submit" value="Add Driver" id="closeForm">
            </form>

            <form id="editForm" class="form-hidden" action="edit_driver" method="post" style="font-family: sans-serif; font-size: 15px;">
            
                <label for="name">Last Name:</label>
                <input type="dropdown" id="name" name="lastName"><br><br>
                <label for="passport">Passport Nr:</label>
                <input type="text" id="passport" name="passport"><br><br>

                <input type="submit" value="Edit Driver">
            </form>
        </div>

            
    </div>
</body>
</html>

