<!DOCTYPE html>
<html lang="ru"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>

    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

    <p><a href="/"><b>H</b>ome</a></p>
    <p><a href="/fuel_cards"><b>A</b>ll Cards</a></p>
    <p><b>D</b>river list</p><br>
    <div th:each="element : ${drivers}">

        <span th:text="${element.firstName}"></span>
<!--        <span></span>-->
        <span th:text="${element.lastName}"></span>
        <button>Delete</button>
        <br>
    </div>
</body>
</html>