<!DOCTYPE html>
<html lang="ru"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>

    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<p><a href="/"><b>H</b>ome</a></p>
<p><a href="/fuel_cards"><b>A</b>ll Cards</a></p>
<p><b>D</b>river list</p><br>
<!--<div th:if>-->
<p th:each="element : ${drivers}" th:text="${element.first_name}" ><span th:text=","></span> <span th:text="${element.last_name}"></span></p><br>
<!--</div>-->
</body>
</html>