<!DOCTYPE html>
<html lang="en" 
    xmlns:th="http://www.thymeleaf.org">    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/fuel_cards.css}">
    <title>Fuel Cards</title>
</head>
<body>
    <div class="container">
        <div class="box-1">
            <div class="menu-1"><a href="/">Home</a></div>
            <div class="menu-2"><a href="/fuel_cards">Cards</a></div>
            <div class="menu-3"><a href="/drivers_list">Drivers</a></div>
            <div class="menu-4"><a href="/log_book">Log Book</a></div>
        </div>  
        <div class="box-2 " style="font-family: sans-serif; font-size: 15px">
            <p > <span >ARAL</span></p>
            <p > <span >BP</span></p>
            <p > <span >ESSO</span></p>
            <p > <span >TOTAL</span></p>
            <p > <span >SHELL</span></p>
            
        </div>
        <div class="box-3">Fuel Cards
        </div>

            
    </div>
</body>
</html>

