<!DOCTYPE html>
<html lang="en"
	xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>Document</title>
</head>

<body>
<div class="container">
    <div class="box-1">
        <div class="menu-1"><a href="/">Home</a></div>
        <div class="menu-2"><a href="/fuel_cards">Cards</a></div>
        <div class="menu-3"><a href="/drivers_list">Drivers</a></div>
        <div class="menu-4"><a href="#">Log Book</a></div>
    </div>        
    <div class="box-2" style="font-family: sans-serif; font-size: 15px;">
        <p th:each="element : ${fuel_cards}" th:text="${element.cardNr}"></p><br>
    </div>
    <div class="box-3">Log Book</div>
    <div class="box-4" style="font-family: sans-serif; font-size: 15px;">
        <div th:each="element : ${drivers}">

            <span th:text="${element.firstName}"></span>
            <!--        <span></span>-->
            <span th:text="${element.lastName}"></span>
            <br>
        </div>
    </div>
</div>
</body>
</html>