<!DOCTYPE html>
<html lang="en"
	xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>Home</title>
</head>

<body>
<div class="container">
    <div class="box-1">
        <div class="menu-1"><a href="/">Home</a></div>
        <div class="menu-2"><a href="/fuel_cards">Cards</a></div>
        <div class="menu-3"><a href="/drivers_list">Drivers</a></div>
        <div class="menu-4"><a href="/log_book">Log Book</a></div>
    </div>        
    <div class="box-2" style="font-family: sans-serif; font-size: 15px;">
        <h1>Welcome to the Fuel Card Management System</h1><br>
        <p>This system allows you to manage fuel cards, drivers, and log books efficiently. Use the navigation menu to access different sections of the application.</p>
        <p>Click on "<a href="/fuel_cards" style="text-decoration: underline;">
            Cards</a>" to view and manage fuel cards, "<a href="/drivers_list" style="text-decoration: underline;">
            Drivers</a>" to see the list of drivers, and "<a href="/log_book" style="text-decoration: underline;">
            Log Book</a>" to access the log book entries.</p>
    </div>
</div>
</body>
</html>